
html,body{
    height: 100%;
    width: 100%;
    font-family: caisiNormal!important;
    overflow-x: hidden;
    overflow: hidden;
}
body{
    position: fixed;
}
@font-face
{
font-family: caisiNormal;
src: url( "../../../static/font/normal/caisiw3.ttf"  ),
    url( "../../../static/font/normal/caisiw3.eot" ) /* IE9+ */
   
}
@font-face
{
 font-family: caisiBold;
 src: url( "../../../static/font/bold/caisiw7.ttf"  ),
    url( "../../../static/font/bold/caisiw7.eot" ) /* IE9+ */
/* src: url( "http://testpublic-1252461635.cosgz.myqcloud.com/zuiyoujie/%E8%94%A1%E5%8F%B8%E4%B8%96%E7%95%8C%E6%9D%AF%E6%96%87%E4%BB%B6/MYingHeiPRC-W7.ttf" ); */
}
